---
layout: article
title: "$title$"
---

<div class="row">
    <div class="span12">
        <h2>$title$</h2> 
        <p>By Dorothy Day</p>
    </div>
</div>

<div class="row">
    <div class="span9">
         $body$
    </div>

    <div class="span3">
      <div class="well">
      <ul class="nav nav-list">
        <li class="nav-header">Other Formats</li>
        <li><a href="$article$.pdf">PDF</a></li>
        <li><a href="$article$.docx">Word</a></li>
        <li><a href="$article$-plain.html">HTML</a></li>
        <li><a href="$article$.md">Markdown</a></li>
      </ul>
    </div>
      
        
    </div>
</div>
     
